.home_container {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.title {
    color: #61dafb;
    font-size: 3rem;
    letter-spacing: 0.01rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.sub_title {
    color: #ffffff;
    font-size: 2rem;
    letter-spacing: 0.01rem;
    margin-top: 0;
    margin-bottom: 0;
}

.content_container {
    background-color: #dcdcdc;
}